*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul,
li {
  list-style: none;
}

article > * + * {
  margin-top: 1em;
}
img {
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  display: block;
  border: none;
}
input,
textarea {
  outline: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
button {
  padding: 0;
  border: none;
  color: inherit;
  background-color: transparent;
}
/* Проект належить https://github.com/Stepan552 */
