/* service-order */
.service-order {
  background-color: #1e1522;
  padding: 95px 0;
}
.service-order__top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 94px;
  margin-bottom: 78px;
  max-width: 984px;
}
.service-order__description {
  max-width: 517px;
}
.service-order__title {
  color: #fafafa;
  font-weight: 700;
  font-size: 2.86rem;
  margin-bottom: 15px;
}
.service-order__text {
  color: #dee1e6;
}
.service-order__input-fields > *:not(:last-child) {
  margin-bottom: 25px;
}
.service-order__mobile-field {
  width: 386px;
  height: 51px;
}
.service-order__details-field {
  width: 386px;
  height: 126px;
}
.service-order__client-file-box {
  display: flex;
  align-items: center;
}
.service-order__file-field {
  width: 150px;
  height: 40px;
  background-color: #dee1e6;
  border: 1px solid #979ca4;
  border-radius: 5px 0px;
  color: #252a2f;
  position: relative;
}
.service-order__file-input {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  z-index: -30;
}
.service-order__file-input-label {
  line-height: 1.5em;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.service-order__file-mark {
  line-height: 1.5em;
  color: #dadada;
  margin-left: 15px;
}
.service-order__bottom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin-left: 189px;
}

.service-order__submit {
  background-color: #1abcfe;
}
.service-order__announcement {
  color: #fafafa;
  font-weight: 700;
  font-size: 1.43rem;
  max-width: 455px;
  text-align: center;
}
.service-order__announcement > span {
  color: #1abcfe;
}
@media (max-width: 1079px) {
  .service-order__top-box {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 78px;
  }
  .service-order__description {
    margin-bottom: 50px;
  }
  .service-order__title,
  .service-order__text {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .service-order__bottom-box {
    flex-direction: column;
    margin: 0 auto;
  }
  .service-order__announcement {
    order: 0;
    margin-bottom: 30px;
  }
  .service-order__submit {
    order: 1;
  }
}
@media (max-width: 767px) {
  .service-order {
    padding: 60px 0;
  }
  .service-order__title {
    font-size: 2.3rem;
  }
}
@media (max-width: 575px) {
  .service-order__title {
    font-size: 2rem;
  }
  .service-order__description {
    padding: 0 30px;
  }
  .service-order__details-field,
  .service-order__mobile-field {
    font-size: 1rem;
  }
  .service-order__submit {
    font-size: 1.2rem;
  }
}
@media (max-width: 479px) {
  .service-order {
    padding: 40px 0;
  }
  .service-order__details-field,
  .service-order__mobile-field {
    width: 300px;
  }
  .service-order__details-field {
    height: 100px;
  }
  .service-order__announcement {
    font-size: 1.2rem;
  }
  .service-order__submit {
    font-size: 1rem;
  }
}
/* service-technologies  */

.service-technologies {
  background-color: #eaeaea;
  padding-top: 75px;
  padding-bottom: 120px;
  position: relative;
}
.service-technologies__title {
  font-size: 2.86rem;
  max-width: 455px;
  margin-bottom: 40px;
}
.service-technologies__item {
  display: flex;
  align-items: center;
}
.service-technologies__item:not(:last-child) {
  margin-bottom: 18px;
}
.service-technologies__item-icon {
  margin-right: 20px;
}
.service-tecnologies__item-name {
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: color 0.3s ease-in-out 0.01s;
}
.service-tecnologies__item-name:hover {
  color: #0892ca;
}
.service-tecnologies__item-name > span {
  font-family: Roboto, sans-serif;
}
.service-tecnologies__slider-box {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 764px;
}
.service-technologies__slider {
  width: 764px;
  height: 100%;
  clip-path: polygon(276px 0px, 764px 0px, 764px 599px, 0px 599px);
}
.service-slider {
  overflow: hidden;
  position: relative;
}
.service-slider__slides {
  height: 100%;
  display: flex;
  transition: transform 2s ease-in-out 0.01s;
}
.service-slider__slide {
  height: 100%;
}
.service-slider__slide img {
  height: 100%;
  object-fit: cover;
}
.service-slider__indicators {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.service-slider__indicator {
  width: 50px;
  height: 4px;
  background-color: rgba(37, 42, 47, 0.8);
  transition: background-color 0.5s ease-in-out 0.01s;
}
.service-slider__indicator:not(:last-child) {
  margin-right: 10px;
}
.service-slider__indicator_active {
  background-color: #1abcfe;
}
@media (max-width: 1099px) {
  .service-technologies {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .service-tecnologies__slider-box {
    position: static;
    margin-left: 60px;
  }
  .service-technologies__slider {
    width: 500px;
    clip-path: none;
  }
  .service-slider__slide {
    height: 300px;
  }
}
@media (max-width: 991px) {
  .service-technologies {
    flex-direction: column;
  }
  .service-technologies > .container {
    margin-bottom: 50px;
  }
  .service-technologies__title {
    text-align: center;
  }
  .service-technologies__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service-tecnologies__slider-box {
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .service-technologies {
    padding: 50px 0;
  }
  .service-technologies__title {
    font-size: 2.4rem;
  }
  .service-tecnologies__item-name {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .service-technologies {
    padding: 40px 0;
  }
  .service-technologies__slider {
    width: 340px;
  }
  .service-slider__slide {
    height: 200px;
  }
  .service-slider__indicators {
    bottom: 15px;
  }
  .service-slider__indicator {
    width: 25px;
  }
}
@media (max-width: 389px) {
  .service-technologies > .container {
    margin-bottom: 0;
  }
  .service-technologies__title {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .service-technologies__item-icon {
    margin-right: 12px;
    width: 30px;
  }
  .service-technologies__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .service-tecnologies__item-name {
    font-size: 1.5rem;
  }
  .service-technologies__slider {
    display: none;
  }
}
/*   creating-stages  */

.creating-stages {
  background-color: #1e1522;
  position: relative;
}

.creating-stages__wrapper {
  background-image: url('../images/creating-stages/decoration-image.png');
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position-y: 35px;
  background-position-x: 527px;
}
.creating-stages__content {
  max-width: 455px;
  padding-top: 75px;
  padding-bottom: 306px;
}
.creating-stages__title {
  font-size: 2.86rem;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fafafa;
}
.creating-stages__description {
  color: #ffffff;
  font-size: 1.43rem;
  line-height: 1.4em;
}
.creating-stages__items-box {
  width: 78.125%;
  height: 100px;
  background-color: #a3aec0;
  position: absolute;
  bottom: 80px;
  right: 0px;
  clip-path: polygon(0px 0px, 1054px 0px, 1054px 100px, 65px 100px);
}

.creating-stages__item-indicator {
  position: absolute;
  width: 27px;
  height: 27px;
  background-color: #1090c5;
  border-radius: 50%;
  top: 37px;
  left: 100px;
  transition: all 0.4s ease-in-out 0.01s;
}
.creating-stages__item-indicator_not-active {
  opacity: 0;
  background-color: #1abcfe;
}
.creating-stages__item {
  font-weight: 700;
  font-size: 2.86rem;
  position: absolute;
  top: 26px;
  left: 152px;
  opacity: 0;
  color: rgba(23, 15, 27, 0.7);
  transition: opacity 1s ease 0.1s;
}
.creating-stages__item_visible {
  opacity: 1;
}
@media (max-width: 1199px) {
  .creating-stages__wrapper {
    background-position-y: 35px;
    background-position-x: 470px;
  }
}
@media (max-width: 1099px) {
  .creating-stages__wrapper {
    background-image: none;
  }

  .creating-stages__content {
    margin: 0 auto;
  }
  .creating-stages__title {
    text-align: center;
  }
  .creating-stages__description {
    text-align: center;
  }
  .creating-stages__item {
    font-size: 2.3rem;
    top: 31px;
  }
}
@media (max-width: 991px) {
  .creating-stages__content {
    padding-bottom: 240px;
  }
  .creating-stages__items-box {
    clip-path: none;
    width: 700px;
    right: 50%;
    transform: translateX(50%);
    border-radius: 15px 0;
  }
  .creating-stages__item-indicator {
    left: 40px;
  }
  .creating-stages__item {
    font-size: 2rem;
    top: 34px;
    left: 90px;
  }
}
@media (max-width: 767px) {
  .creating-stages__content {
    padding-top: 60px;
  }
  .creating-stages__title {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }
  .creating-stages__description {
    font-size: 1.2rem;
  }
  .creating-stages__items-box {
    width: 500px;
  }
  .creating-stages__item {
    font-size: 1.5rem;
    top: 38px;
    left: 75px;
  }
  .creating-stages__item-indicator {
    width: 20px;
    height: 20px;
    top: 41px;
  }
}
@media (max-width: 575px) {
  .creating-stages {
    padding: 40px 20px;
  }
  .creating-stages__content {
    padding-bottom: 40px;
    padding-top: 0;
  }
  .creating-stages__title {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .creating-stages__description {
    font-size: 1rem;
  }
  .creating-stages__items-box {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px 0;
    transform: none;
    margin: 0 auto;
    width: auto;
    max-width: 400px;
  }
  .creating-stages__item {
    padding: 10px;
    width: 100%;
    text-align: center;
    opacity: 1;
    position: static;
    margin: 0 auto;
    transition: none;
    background-color: #97a2b4;
  }
  .creating-stages__item:not(:last-child) {
    margin-bottom: 15px;
  }
  .creating-stages__item-indicator {
    display: none;
  }
}
@media (max-width: 369px) {
  .creating-stages__title {
    font-size: 1.5rem;
  }
  .creating-stages__item {
    font-size: 1.3rem;
  }
}
/* service-cost */

.service-cost {
  padding: 60px 0;
  background-color: #fafafa;
}
.service-cost__title {
  max-width: 1077px;
  margin: 0 auto;
  background-color: #1e1522;
  padding: 20px 0;
  text-align: center;
  text-transform: uppercase;
  color: #fafafa;
  font-size: 2.86rem;
  font-weight: 700;
  margin-bottom: 80px;
}
.service-cost__content {
  display: flex;
  padding: 0 95px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.service-cost__description {
  flex-basis: 455px;
}
.service-cost__description-title {
  margin-bottom: 13px;
  font-size: 1.29rem;
}
.service-cost__description-text {
  line-height: 1.4em;
  font-size: 1.29rem;
}
.service-cost__factor {
  display: flex;
  align-items: center;
}
.service-cost__factor:not(:last-child) {
  margin-bottom: 25px;
}
.service-cost__factor-icon {
  margin-right: 15px;
}
.service-cost__factor-tilte {
  color: rgba(37, 42, 47, 0.8);
  font-size: 1.79rem;
  font-weight: 600;
}
.service-cost__announcement-box {
  text-align: center;
}
.service-cost__announcement {
  color: #170f1b;
  font-weight: 600;
  font-size: 1.79rem;
  text-decoration: underline;
}
@media (max-width: 1099px) {
  .service-cost__title {
    margin-bottom: 50px;
  }
  .service-cost__content {
    flex-direction: column;
  }
  .service-cost__description {
    flex-basis: auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 50px;
  }
  .service-cost__description-title {
    font-size: 1.6rem;
  }
}
@media (max-width: 767px) {
  .service-cost__title {
    font-size: 2.2rem;
  }
  .service-cost__announcement {
    font-size: 1.4rem;
  }
}
@media (max-width: 575px) {
  .service-cost {
    padding: 40px 0;
  }
  .service-cost__content {
    padding: 0;
    align-items: center;
  }
  .service-cost__title {
    font-size: 1.8rem;
    margin-bottom: 35px;
  }
  .service-cost__description {
    max-width: 450px;
  }
  .service-cost__description-title {
    font-size: 1.3rem;
  }
  .service-cost__description-text {
    font-size: 1rem;
  }
  .service-cost__factor:not(:last-child) {
    margin-bottom: 15px;
  }
  .service-cost__factor-tilte {
    font-size: 1.3rem;
  }
  .service-cost__announcement {
    font-size: 1rem;
  }
}
@media (max-width: 419px) {
  .service-cost__title {
    font-size: 1.4rem;
  }
}
/*  service-trust  */

.service-trust {
  background-color: #1e1522;
  padding: 125px 0;
}

.service-trust__wrapper {
  display: flex;
  padding-left: 95px;
  justify-content: space-between;
  align-items: center;
}
.service-trust__slider {
  max-width: 500px;
  border-radius: 15px;
}
.trust-slider {
  overflow: hidden;
  position: relative;
}
.trust-slider__hover-element {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  background-color: rgba(222, 225, 230, 0.8);
  height: 0;
  transition: height 0.5s ease-in-out 0.01s;
}
.trust-slider__slides:hover + .trust-slider__hover-element,
.trust-slider:hover .trust-slider__hover-element {
  height: 107px;
}
.trust-slider__hover-element-link {
  text-decoration: underline;
  color: #252a2f;
  letter-spacing: 0.1em;
  font-size: 2.14rem;
  font-weight: 700;
}
.trust-slider__slides {
  display: flex;
  transition: transform 1.3s ease-in-out 0.01s;
}
.trust-slider__image {
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.trust-slider__indicators {
  display: flex;
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}
.trust-slider__indicator {
  width: 50px;
  height: 4px;
  background-color: rgba(37, 42, 47, 0.6);
  transition: background-color 0.4s ease-in-out 0.01s;
}
.trust-slider__indicator_active {
  background-color: #1abcfe;
}
.trust-slider__indicator:not(:last-child) {
  margin-right: 10px;
}
.service-trust__title {
  font-weight: 700;
  font-size: 2.86rem;
  color: #fafafa;
  max-width: 455px;
  margin-bottom: 15px;
}
.service-trust__text {
  max-width: 410px;
  font-size: 1.43rem;
  line-height: 1.4em;
  color: #ffffff;
}
@media (max-width: 1129px) {
  .service-trust__wrapper {
    flex-direction: column;
    padding-left: 0;
  }
  .service-trust__content {
    order: 0;
    margin-bottom: 40px;
    text-align: center;
  }
  .service-trust__slider {
    order: 1;
  }
}
@media (max-width: 991px) {
  .service-trust {
    padding: 100px 0;
  }
}
@media (max-width: 767px) {
  .service-trust {
    padding: 60px 0;
  }
  .service-trust__title {
    font-size: 2rem;
  }
}
@media (max-width: 575px) {
  .service-trust {
    padding: 40px 0;
  }
  .service-trust__text {
    font-size: 1rem;
  }
  .service-trust__slider {
    max-width: 100%;
  }
}
@media (max-width: 489px) {
  .service-trust__title {
    font-size: 1.7rem;
  }
  .trust-slider__indicators {
    bottom: 10px;
  }
  .trust-slider__indicator {
    width: 30px;
    height: 2px;
  }
  .trust-slider__indicator:not(:last-child) {
    margin-right: 6px;
  }
}
/* Проект належить https://github.com/Stepan552 */
